.main {
    margin: 0 auto;
    display: flex;
    /* text-decoration: none; */
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border:1px solid black;
    background-color: blue;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 100px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  button {
    background-color: brown;
    height: 50px;
  }